@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.14 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7 0.15 162.47);
  --primary-foreground: oklch(0.14 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.43 0.01 0);
  --muted-foreground: oklch(0.71 0.01 286.28);
  --accent: oklch(0.5 0.16 142.63);
  --accent-foreground: oklch(64.212% 0.18112 145.682);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.8rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.14 0 0);
  --foreground: oklch(0.97 0 0);
  --card: oklch(0.18 0 0);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(18.3% 0.004 286);
  --popover-foreground: oklch(96.7% 0.001 286.4);
  --primary: oklch(0.81 0.24 145.3);
  --primary-foreground: oklch(0% 0 0);
  --secondary: oklch(0.18 0 0);
  --secondary-foreground: oklch(0.24 0 0);
  --muted: oklch(0.43 0.01 0);
  --muted-foreground: oklch(0.71 0.01 286.28);
  --accent: oklch(0.5 0.16 142.63);
  --accent-foreground: oklch(64.212% 0.18112 145.682);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.24 0 0);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.74 0.21 145.52);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-geist);
  --font-heading: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply relative bg-background text-[16px] text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  html {
    @apply font-sans;
  }

  /* customer componet  */
  .section {
    @apply w-full px-4 py-10 md:py-16 lg:px-6 lg:py-20 xl:py-24;
  }
  .section.lg {
    @apply w-full px-4 py-16 md:py-20 lg:px-6 lg:py-24 xl:py-30;
  }

  .section.xl {
    @apply w-full px-4 py-24 md:py-28 lg:px-6 lg:py-36 xl:py-40;
  }

  .wrapper {
    @apply mx-auto w-full max-w-7xl;
  }

  h1 {
    @apply font-heading text-[40px] leading-tight font-extrabold tracking-[-0.03em] md:text-[48px] lg:text-[56px] xl:text-[68px];
  }

  h2 {
    @apply font-heading text-[32px] leading-tight font-extrabold tracking-[-0.025em] md:text-[40px] lg:text-[48px] xl:text-[56px];
  }

  h3 {
    @apply font-heading text-[24px] leading-tight font-bold tracking-[-0.02em] md:text-[28px] lg:text-[32px] xl:text-[48px];
  }

  h4 {
    @apply font-heading text-[20px] leading-tight font-bold tracking-[-0.015em] md:text-[24px] lg:text-[28px] xl:text-[36px];
  }

  h5 {
    @apply font-heading text-[18px] leading-tight font-bold tracking-tight md:text-[20px] lg:text-[22px] xl:text-[24px];
  }

  h6 {
    @apply font-heading text-[16px] leading-tight font-bold tracking-tight md:text-[18px] lg:text-[20px] xl:text-[20px];
  }

  p {
    @apply font-sans text-[14px] leading-relaxed text-muted-foreground md:text-[15px] lg:text-[16px];
  }

  /* grids  */

  .grid-50by50 {
    @apply grid grid-cols-1 lg:grid-cols-2;
  }

  .grid-60by40 {
    @apply grid grid-cols-1 lg:grid-cols-[60%_40%];
  }

  .grid-40by60 {
    @apply grid grid-cols-1 lg:grid-cols-[40%_60%];
  }
}
